<div class="w-[1152px] mx-auto sm:w-[1152px]  ">
  <app-header></app-header>
  <section class="content w-full mb-[58px]">
    <div class="container w -[74%] mx-auto grid grid-cols-2 gap-4 " *ngFor="let user of User;">
      <div class="profile grid " >
        <h2 class="font-bold text-[41px] mb-[24px] pt-[14px]">Hi, I am <span>{{user.name}}</span>,<br>
          <span>{{user.position}}</span>
        </h2>
        <span class="mb-[29px]">
          {{user.about}}
        </span>
        <button class="  mb-[20px] bg-[#ff6464] h-[46px] w-[208px] rounded  text-white text-[21px] font-bold">Download
          Resume</button>
      </div>
      <div class="image">
        <img src="{{user.image}}" class="ml-auto w-[246px] h-auto rounded-full object-cover" alt="">
      </div>
    </div>
  </section>

  <!-- posts -->
  <section class="recent__posts w-full bg-[#EDF7FA] mb-[25px] ">
    <div class="container w-[75%] mx-auto">
      <div class="pt-[16px] grid grid-cols-2 mb-[20px] ">
        <span class="text-[23px] pl-[5px]">Recent posts</span>
        <a routerLink="/blog" class="text-[#00A8CC] ml-auto pt-[5px] text-[17px] hover:underline">View all</a>
      </div>
      <div class="box pb-[30px] grid grid-cols-2 gap-4">
        <div class=" bg-white rounded-[5px] w-[420px] h-[295px]" *ngFor="let post of Post">
          <div class=" inline-block p-[20px] px-[26px] grid gap-[23px]">
            <span class="text-[26px] font-bold ">{{post.title}}</span>
            <div class="grid grid-cols-3 ">
              <p class="text-[19px]">{{post.created_at}}</p>
              <p class="w-12 text-[19px] ">|</p>
              <p class="text-[19px] ml-[-82px]">{{post.categoryPost.name}}</p>

            </div>
            <span>{{post.short_desc}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Project -->
  <section class="project__posts w-full mb-[110px]">
    <div class="container  w-[74%] mx-auto">
      <p class="text-[23px]">Featured works</p>
      <div class="grid grid-rows-2 gap-4 mt-[30px]" *ngFor="let project of Project ">
        <div class=" border-b border-inherit ">
          <div class="w-[246px] float-left mr-[14px]">
            <img class="w-[246px] h-[180px] object-cover rounded-[20px]"
              src="{{project.image}}"
              alt="">
          </div>
          <div class="float-right w-[69%] pb-[20px]" >
            <p class="text-[29px] font-bold pb-[14px]">{{project.name}}</p>
            <div class="pb-[20px]">
              <button class="rounded-[40px] border bg-[#142850] text-white font-bold w-[64px] text-[18px] ">{{project.createAt}}
              </button>
              <p class="float-right mr-[411px] text-[19px] ">{{project.categoriesProject.name}}</p>
            </div>
            <p>{{project.short_desc}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="w-full">
    <div class="grid grid-rows-2 gap-4 w-[20%] mx-auto">
      <div class="flex  ">
        <a routerLink="#" class="fa fa-facebook"></a>
        <a routerLink="#" class="fa fa-twitter"></a>
        <a routerLink="#" class="fa fa-linkedin"></a>
        <a routerLink="#" class="fa fa-instagram"></a>
      </div>
      <p class="text-[14px]">Copyright ©2020 All rights reserved </p>
    </div>

  </footer>