<header class="mb-[157px] mt-[15px] ">
      <div class="logo mr-[150px]">
      
      </div>
      <div class="menu flex flex-row-reverse mr-[150px]">
        <ul class="grid grid-cols-5 gap-3 font-bold text-[20px] text-center">
          <li class=""><a routerLink="/work">Works</a></li>
          <li class=""><a routerLink="/blog">Blog</a></li>
          <li class=""><a routerLink="/admin">admin</a></li>
          <li class=""><a routerLink="/signin">Signin</a></li>
          <li class=""><a routerLink="/signup">Sign up</a></li>
        </ul>
      </div>
  </header>