<div class="max-w-[50rem] mx-auto">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg  ">
        
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="p-4">
                        
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 pb-[10px]" *ngFor="let user of Users; let i = index">
                    <td class="w-4 p-4">
                        <div class="flex items-center">
                            <label for="checkbox-table-search-1" class="sr-only">{{i + 1}}</label>
                        </div>
                    </td>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        {{user.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{user.email}}
                    </td>
                   
                    <td class="px-6 py-4 text-right">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a> | 
                        <button (click)="onRemove(user.id)" class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove</button> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
</div>