<div class="w-[1152px] mx-auto  ">
    <app-header></app-header>
    <section class="content w-full mb-[58px]">
        <div class="w-[47%] mx-auto">
            <p class="text-[34px] font-bold  mb-[37px]">Blog</p>
                <div class="grid grid-rows-4 gap-3">
                    <div class="border-b border-inherit mb-[30px]" *ngFor="let post of PostList">
                        <p class="font-bold text-[24px] mb-[5px]">{{post.title}}</p>
                        <p class="mb-[5px]">{{post.created_at}}</p>
                        <p class="text-[12px] mb-[6px]">{{post.short_desc}}</p>
                    </div>
                </div>
        </div>
    </section>
    <footer class="w-full">
            <div class="grid grid-rows-2 gap-4 w-[20%] mx-auto">
                <div class="flex  ">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
                <p class="text-[14px]">Copyright ©2020 All rights reserved </p>
            </div>
         
    </footer>
</div>